DATABASE_URL = "" # Get this from your Prisma Cloud dashboard
SESSION_SECRET = "" # You can generate a random string for this, e.g. using `openssl rand -base64 32`
TEAM_PASSWORD = "" # The team password which is used for all standard users