@import "tailwindcss";

@import "./styles/tokens/colors.css";
@import "./styles/tokens/typography.css";

@import "./styles/pages/inventory.css";
@import "./styles/pages/login.css";
@import "./styles/pages/projects.css";
@import "./styles/pages/main.css";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-dmsans); /* Need to remove so each style sheet can have their own font */
}
